.main {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .projects {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 20px;
        padding: 20px;
        overflow-x: auto;
    }
}