$brand: #1F883D;
$brand-hover: #1F883DB2;
$brand-active: #08531D;

$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;

$border-radius: 6px;

$space-app: 100px;