@use 'styles/variables' as *;

.app {
    padding: 0 $space-app-x;
    padding-bottom: $space-app-bottom;

    @media (max-width: 768px) {
        padding: 0 $space-app-x-mobile;
    }
}

.projects-bg {
    background-color: #F6F8FA;
}

.project-detail-bg {
    background-color: #FFF;
}

.default-bg {
    background-color: unset;
}