@use 'styles/variables' as *;

.page {
    display: flex;
    gap: 60px;
    flex-direction: column;

    .title {
        text-align: center;
    }

    .section {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .content {
            display: flex;
            flex-direction: column;
            gap: 36px;

            &-header {
                display: flex;
                flex-direction: column;
                gap: $space-l;

                &-mdd {
                    width: 300px;
                }

            }

        }
    }
}